In [ ]:
list:
append,insert,extend,pop,remove,clear,del,reverse,sort,sorted,replicate,copy

tuple:
count,index


set:
empty set ,add,remove,discard,pop,clear,update,
union,intersection,difference,symmetric difference,issubset,issuperset,isdisjoint

frozenset:

dictionary:
pop,popitem,del,clear,update,get,

In [14]:
a=[1,2,4,46,"shekhar",True,0.333,22]
a.append(1)   #add data at the end
a
a.insert(1,800000001)
a

a.extend([1,23,4,4,55555])
a

[1, 800000001, 2, 4, 46, 'shekhar', True, 0.333, 22, 1, 1, 23, 4, 4, 55555]

In [4]:
# print(10/0)

# tuple

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
# note :To create a tuple with only one item, you have to add a comma after the item,
# otherwise Python will not recognize it as a tuple.
# thistuple = ("apple",)  comma
print(type(thistuple))
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'cherry')
<class 'tuple'>
<class 'str'>

In [3]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])
print(thistuple[:])

('abc', 34, True, 40, 'male')
('apple', 'banana', 'cherry')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [4]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable,
# or immutable as it also is called.
# But there is a workaround. You can convert the tuple into a list,
# change the list, and convert the list back into a tuple.

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [5]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [7]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(y)

['banana', 'cherry']

In [9]:
thistuple = ("apple", "banana", "cherry")
 del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

# note: tuple is unchangable so we can't add remove anything in tuple for this we have to convert it into list

('apple', 'banana', 'cherry')

In [13]:
# unpacking the tuple 
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(red)
# The number of variables must match the number of values in the tuple,
# if not, you must use an asterisk to collect the remaining values as a list.

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(f'green is  {green}')
print(yellow)
print(red)

cherry
green is  apple
banana
['cherry', 'strawberry', 'raspberry']

In [14]:
# count()	Returns the number of times a specified value occurs in a tuple
# index()	Searches the tuple for a specified value and returns the position of where it was found

# Sets

In [16]:
# A set is a collection which is unordered, unchangeable*, and unindexed.
# Set items are unchangeable, but you can remove items and add new items.
# Sets are unordered, so you cannot be sure in which order the items will appear.

# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [18]:
# The values True and 1 are considered the same value in sets, and are treated as duplicates
# False and 0 is considered the same value:

thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{False, True, 'banana', 'cherry', 'apple'}
{'banana', True, 2, 'cherry', 'apple'}

In [19]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{'abc', 34, True, 40, 'male'}

In [1]:
# You cannot access items in a set by referring to an index or a key.
# But you can loop through the set items using a for loop,
# or ask if a specified value is present in a set, by using the in keyword.
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

apple
cherry
banana
True
False

In [30]:
# Once a set is created, you cannot change its items, but you can add new items.
# ADD AND UPDATE 
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)



thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'banana', 'cherry', 'apple', 'orange'}
{'banana', 'cherry', 'papaya', 'pineapple', 'apple', 'mango'}
{'orange', 'apple', 'banana', 'cherry', 'kiwi'}

In [31]:
# To remove an item in a set, use the remove(), or the discard() method.
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

# IF the item to remove does not exist, remove() will raise an error so use a discard it doesnot raise a error
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

# You can also use the pop() method to remove an item, but this method will remove a random item




# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

# del delete the whole set and their data 
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

{'cherry', 'apple'}
{'cherry', 'apple'}
set()

In [35]:
# Join Sets
# There are several ways to join two or more sets in Python.
# The union() and update() methods joins all items from both sets.
# The intersection() method keeps ONLY the duplicates.
# The difference() method keeps the items from the first set that are not in the other set(s).
# The symmetric_difference() method keeps all items EXCEPT the duplicates.


# UNION
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)    # set3 = set1 | set2   but only when both are set  (  same result and same works)
print(set3)


set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1 | set2 | set3 |set4                #   set1.union(set2, set3, set4)
print(myset)


x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}
{1, 2, 3, 'apple', 'bananas', 'cherry', 'John', 'b', 'Elena', 'c', 'a'}
{1, 2, 3, 'b', 'c', 'a'}

In [37]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)
# Both union() and update() will exclude any duplicate items.

set1 = {"a", "b" , "c"}
set2 = {"a", "b" , "c"}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}
{'b', 'c', 'a'}

In [40]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)   #set3 = set1 & set2
print(set3)

# Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print(set3)

{'apple'}
{False, 1, 'apple'}

In [41]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)    #set3 = set1 - set2
print(set3)



# The difference_update() method will also keep the items from the first set that are not in the other set,
# but it will change the original set instead of returning a new set.
# Example
# Use the difference_update() method to keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}
{'banana', 'cherry'}

In [42]:
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.
# Example
# Keep the items that are not present in both sets:

# A union B complement types like 
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)    #set3 = set1 ^ set2
print(set3)

{'google', 'microsoft', 'banana', 'cherry'}

In [43]:
# Method	Shortcut	Description
# add()	 	Adds an element to the set
# clear()	 	Removes all the elements from the set
# copy()	 	Returns a copy of the set
# difference()	-	Returns a set containing the difference between two or more sets
# difference_update()	-=	Removes the items in this set that are also included in another, specified set
# discard()	 	Remove the specified item
# intersection()	&	Returns a set, that is the intersection of two other sets
# intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
# isdisjoint()	 	Returns whether two sets have a intersection or not
# issubset()	<=	Returns True if all items of this set is present in another set
#  	<	Returns True if all items of this set is present in another, larger set
# issuperset()	>=	Returns True if all items of another set is present in this set
#  	>	Returns True if all items of another, smaller set is present in this set
# pop()	 	Removes an element from the set
# remove()	 	Removes the specified element
# symmetric_difference()	^	Returns a set with the symmetric differences of two sets
# symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
# union()	|	Return a set containing the union of sets
# update()	|=	Update the set with the union of this set and others

# Dictionary

In [50]:
# Dictionaries are used to store data values in key:value pairs.
# A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])


# in this method key name show not be in"" form 
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)
print(thisdict['age'])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
{'name': 'John', 'age': 36, 'country': 'Norway'}
36

In [52]:
# two key having same name while be overright with other
# Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [6]:
# get ,key,values,items
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(car.get('brand'))    # car['brand']
print(car.keys())
print(car.values())


# The items() method will return each item in a dictionary, as tuples in a list.
print(car.items())
print(list(car.items()))

Ford
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

In [7]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
# or
thisdict["color"] = "blue"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'blue'}

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)



thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()    # he popitem() method removes the last inserted item (
print(thisdict)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang'}

In [10]:
# The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [11]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [12]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [13]:
# You cannot copy a dictionary simply by typing dict2 = dict1,
# because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.
# There are ways to make a copy, one way is to use the built-in Dictionary method copy()

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()    #mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [17]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print((myfamily))

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [18]:
# clear()	Removes all the elements from the dictionary
# copy()	Returns a copy of the dictionary
# fromkeys()	Returns a dictionary with the specified keys and value
# get()	Returns the value of the specified key
# items()	Returns a list containing a tuple for each key value pair
# keys()	Returns a list containing the dictionary's keys
# pop()	Removes the element with the specified key
# popitem()	Removes the last inserted key-value pair
# setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
# update()	Updates the dictionary with the specified key-value pairs
# values()	Returns a list of all the values in the dictionary