In [5]:
def hello():
    print("Hi")

result = hello()
print(result)   # Output: None

Hi
None

In [9]:
print(ord("a"))
print(chr(1))

97


In [14]:
# silicing
a='hellofriend'
print(a[0::2])

hlored

In [16]:
bool(0)      # False
# bool("")     # False
# bool(None)   # False

# bool(10)     # True
# bool("A")    # True
# bool([1,2])  # True

False

In [20]:
import random
print(random.randint(1, 10))  # 1â€“10

5

In [23]:
print(random.randrange(1, 10, 2))  # picks 1,3,5,7,9

1

In [24]:
print(random.uniform(10, 20))

11.431236924289275

In [26]:
fruits = ["apple", "mango", "banana"]
print(random.choice(fruits))

apple

In [27]:
fruits = 'apple'
print(random.choice(fruits))

a

In [31]:
print(random.choices([1, 2, 3, 4], k=10))
print(random.choices('shekhar', k=10))

[2, 3, 3, 4, 4, 3, 2, 2, 4, 4]
['a', 's', 'e', 'e', 'a', 'e', 'k', 'h', 'k', 'k']

In [32]:
print(random.sample([1, 2, 3, 4], k=2))

[2, 4]

In [34]:
cards = [1,2,3,4,5]
random.shuffle(cards)
print(cards)

[3, 2, 1, 4, 5]

In [41]:
random.seed(10)
print(random.random())

0.5714025946899135

In [43]:
a='  hello /////'
print(a.strip('/'))

  hello

In [6]:
# Print(126 > 130)

print((456 == 456) != (235 == 236))

print(12 < 10 or 45 == 56 or 69 > 70 or 15 != 13)

print(True and bool(0))

True
True
False

In [2]:
a=[10,20,30]
a.insert(2,50)
print(a)

[10, 20, 50, 30]

In [3]:
b=[2,4,5]
a.extend(b)
print(a)

[10, 20, 50, 30, 2, 4, 5]

In [9]:
# # a.clear()
# print(a)

In [10]:
# del(a)

In [15]:
print(b)
b.reverse()
print(b)

[2, 4, 5]
[5, 4, 2]

In [17]:
a=[2,3,4,1]
a.sort()
print(a)

[1, 2, 3, 4]

In [21]:
a=[2,3,4,1]
b=a.sort()
print(b)
print(a)

None
[1, 2, 3, 4]

In [3]:
a = {1, 2}
b = {2, 3}
print(a | b)        # {1, 2, 3}
print(a.union(b))
print(a-b)
print(a^b)

{1, 2, 3}
{1, 2, 3}
{1}
{1, 3}

In [3]:
number={1:2,3:4,5:6}
print(number)
for i in number:
    print(i,":",number[i])

{1: 2, 3: 4, 5: 6}
1 : 2
3 : 4
5 : 6

In [5]:
for i in number:
    print(number[i])
    print(i)

2
1
4
3
6
5

In [25]:
try:
    x = 10 / 0     # risky code
    print(x)
except:
    print("hi")
else:
    print("he")

hi

In [16]:
try:
    num = int(input("Enter a number: "))
except :
    print("Invalid input!")
else:
    print("You entered:", num)

Enter a number:  s

Invalid input!

In [24]:
try:
    x = 10 / 0    # risky code
    print(x)
except:
    print('uffs')
    
finally:  
       print("yessss")

uffs
yessss

In [8]:
import random
a='shekhar'
print(random.choices(a,k=3))   #repatead values
print(random.sample(a,k=3))    #unique valkues

['e', 'h', 'k']
['r', 's', 'h']

In [11]:
print(random.randint(1,2))

2

# random practice set

In [26]:
import random

# for 0 and 1 
print(random.random())
print(random.randint(1,9))
print(random.randrange(2,11,1))
print(random.uniform(1,4))
print(random.choice([1,2,4]))

import string
a=string.ascii_letters + string.digits + string.punctuation
print(random.choice(a))
print(random.choices(a,k=10))
print(random.sample(a,k=19))


l=[1,2,4,5,6]
print(random.shuffle(l))

0.6765382528566428
3
3
1.6161929781375153
4
j
['?', 's', 'C', '%', '~', ']', 'a', 'E', '7', 'w']
['j', 'h', ')', '6', 'N', 'J', 'u', 't', 'g', '(', 'p', 'e', '<', '>', 'm', 'L', '^', '4', '9']
None

In [31]:
l=[1,2,4,5,6]
print(random.shuffle(l))
print(l)

None
[1, 2, 6, 4, 5]

# function arguments

In [6]:
# postional arguments
def bio(name,age,sex):
    print(name ,'\n',age,'\n' , sex )

bio('shekhar',22,'male')

shekhar
 22
 male

In [7]:
# keywoprd arguments
def details(name,age,sex):
    print(name,age,sex)

bio(name='shekhar',sex='male',age=33)

shekhar
 33
 male

In [9]:
# default arguments
def details(name,sex='male'):
    print(name,sex)

details("shekhar")
details("mandal","female")

shekhar male
mandal female

In [10]:
# variable length arguments
def add(*number):
    print(number)
add(2,3,4,5,56)

(2, 3, 4, 5, 56)

In [11]:
def add(** number):
    print(number)
add(name='sheekhar',age=22,sex="male")

{'name': 'sheekhar', 'age': 22, 'sex': 'male'}

In [12]:
def total_price(*prices):
    total = 0
    for price in prices:
        total += price
    print("Total bill:", total)

total_price(100, 250, 50, 75)

Total bill: 475

In [13]:
def student_info(name, *marks):
    print("Name:", name)
    print("Marks:", marks)

student_info("Shekhar", 80, 85, 90)

Name: Shekhar
Marks: (80, 85, 90)

In [14]:
def user_profile(**details):
    for key, value in details.items():
        print(key, ":", value)

user_profile(
    name="Shekhar",
    age=22,
    course="Data Science",
    hobby="Reading"
)

name : Shekhar
age : 22
course : Data Science
hobby : Reading

# lambda

In [27]:


number=[2,3,4]
a=map(lambda x:x*x , number)
print(a)
list(a)

<map object at 0x0000021EF018E080>

[4, 9, 16]

In [29]:
a=lambda x,y:x+y
print(a(2,4))

6

In [32]:
# lambda have 3 : map filter reduce
number=[2,3,4,5]
a=list(map(lambda x : x**x,number))
a

[4, 27, 256, 3125]

In [36]:
a=list(filter(lambda x:x%2==0 ,number))
a

[2, 4]

In [40]:
from functools import reduce

nums = [1, 2, 3, 4]

total = reduce(lambda a, b: a + b, nums)
print(total)

10

In [41]:
# map
number=[1,2,34,4,5,56]
def square(x):
    return x*x

total=map(square,number)
print(list(total))

[1, 4, 1156, 16, 25, 3136]

In [42]:
# using lambda map
x=list(map(lambda x:x*x ,number))
print(x)

[1, 4, 1156, 16, 25, 3136]

In [43]:
# filter : used for decision cased

number=[2,3,5,6,7,8,9]
def even_odd(x):
    return x%2==0

out=list(filter(even_odd, number))
print(out)

[2, 6, 8]

In [44]:
a=list(filter(lambda x : x%2==0 ,number))
print(a)

[2, 6, 8]

In [46]:
from functools import reduce
number=[2,3,4]
def sum(x,y):
    return x+y

a=(reduce(sum,number))
a

9

# match

In [49]:
num = 2

match num:
    case 1:
        print("One")
    case 2:
        print("Two")
    case 3:
        print("Three")
    case _:
        print("Other number")

Two

In [50]:
data = [1, 2, 3]

match data:
    case [1, 2, 3]:
        print("Exact match")
    case [1, _, _]:
        print("Starts with 1")
    case _:
        print("No match")

Exact match

In [1]:
a=[1,3,4,5]
# map
s=list(map(lambda x:x*x , a))
s

[1, 9, 16, 25]

In [3]:
s=list(filter(lambda x: x%2==0 , a))
s

[4]

In [5]:
from functools import reduce
s=reduce(lambda x,y : x+y ,a)
s

13

In [7]:
print("hello")

hello